body {
  background-color: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}
